* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background: #fff;
  font-family: helvetica, arial, sans-serif;
  font-weight: 200;
  line-height: 1.5;
  color: #333;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Roboto';
  line-height: 0.95;
  padding: 0 5px;
}

h3 {
  font-size: 1.1rem;
  color: #aaa;
  border-bottom: solid 1px #dfe2e7;
  font-weight: 500;
  margin-top: 25px;
  padding: 0 5px;
}

ul {
  margin: 0;
  padding: 0 0 0 25px;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3199B6;
}
