.container {
  max-width: 1180px;
}

.Code {
  font-family: monospace;
  padding: 1px;
  color: #000;
}

.CodeBlock {
  font-family: monospace;
  padding: 0 10px;
  color: #000;
  font-weight: 600;
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  border-right: solid 10px #eee;
}

.Demo-container {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.Demo {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.Demo.is-short {
  height: 130px;
}

.DocBody {
  padding-bottom: 50px;
}

.SideBar {
  display: none;
}

.Section-content {
  padding: 0 10px;
}

.Logo {
  font-family: 'Poiret One';
  font-size: 2rem;
  text-align: left;
  line-height: 40px;
  vertical-align: middle;
  padding: 5px 0 5px 5px;
  margin: 0;
  text-decoration: none;
  color: #000;
}

.MainMenu a {
  display: block;
  height: 52px;
  line-height: 32px;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  color: #000;
  background: #eee;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 1px;
}

.MainMenu a.active {
  font-weight: 600;
}

@media only screen and (min-width : 481px) {

  .Header {
    border-bottom: solid 1px #dfe2e7;
  }

  .Logo {
    text-align: left;
    height: 64px;
    line-height: 64px;
    padding: 0;
  }

  .MainMenu {
    text-align: right;
  }

  .MainMenu a {
    display: inline-block;
    height: 64px;
    line-height: 64px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 0;
    padding: 0;
    background: none;
  }

  h2 {
    padding: 0;
  }

  h3 {
    padding: 0;
  }

  .Section-content {
    padding: 0 5px;
  }

  .SideBar {
    display: block;
    font-size: 1rem;
    padding-top: 21px;
    text-align: right;
  }

  .SideBar ul {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
  }

  .SideBar a {
    line-height: 1.75;
    text-decoration: none;
    color: #3199B6;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .SideBar ul ul a {
    font-size: 1rem;
    font-weight: 300;
  }
}
