p.
  Constraints are the third basic element of Newton and are one of its most powerful features.
p.
  They create rules that are applied to Particles after integration, like
  "All particles should stay within this rectangle," or "These two particles should be connected."
p.
  BoxConstraint is a location constraint that keeps a particle within a rectangular area.
  Newton comes with a library of Constraints.

pre.CodeBlock.
  var container = Newton.BoxConstraint(0, 0, 1000, 600);   // x, y, width, height
  sim.add(container);
