p.
  Reuse! We now have a drop-in Rope Body that we can use as many times as we like:

.Demo-container
  iframe.Demo(src='http://jsfiddle.net/hunterloftis/6FJtv/3/embedded/js,result,html')

p.
  We can also extend Rope with new data and behaviors.
  We've already given it a head property - we could also add a tail property
  or methods like coil() or snap()
