p.
  As you can see, we're up and running -
  but it's a little boring with just one Particle sitting still.

.Demo-container
  iframe.Demo(src='http://jsfiddle.net/hunterloftis/yDY6r/2/embedded/js,result,html')
