p.
  Now we can drag our ropes around!
  If we stretch them too far they'll even realistically break.

.Demo-container
  iframe.Demo(src='http://jsfiddle.net/hunterloftis/HTS7d/3/embedded/js,result,html')
