p.
  Now things are getting interesting. Our little rope has come to life!

iframe.Demo(src='http://jsfiddle.net/hunterloftis/pZD5q/5/embedded/js,result,html')

p.
  We've given our Simulator a `solve` option.
  Newton uses an iterative, convergent solver, which means that constraints are run repeatedly
  each frame to converge at an approximate solution for the whole system.
  The `solve` option tells the Simulator which constraints are most important.
  Try changing the priority order to see how it affects the simulation.
