ul
  li: a(href='http://hunterloftis.github.io/newton/dist/current/newton.js') newton.js
  li: a(href='http://hunterloftis.github.io/newton/dist/current/newton.min.js') newton.min.js

p
  strong npm:&nbsp;
  span.Code install newton

