p.
  Newton has three building blocks: Particles, Forces, and Constraints.
  Particles are points in space that have X and Y coordinates as well as mass (size).

pre.CodeBlock.
  var particle = Newton.Particle(10, 20);  // x, y
  sim.add(particle);

