p.
  The Simulator is responsible for
  integrating Particles, applying Forces, and resolving Constraints.
p.
  All the high-level and advanced functionality of Newton is based on these three simple steps.

pre.CodeBlock.
  var sim = Newton.Simulator();
  sim.start();
