* {
  box-sizing: border-box;
}

body {
  background: #131313;
  font-family: 'helvetica', 'arial', sans-serif;
  font-weight: 100;
  font-size: 13px;
  color: #666;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrap {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1280px;
}

#display {
  display: block;
  border: solid 1px #333;
  background: #000;
  cursor: crosshair;
  width: 1280px;
  height: 450px;
}

.caption {
  text-align: center;
}

.controls {
  padding: 10px;
  text-align: center;
}

.controls > label {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

label > input {
  margin-left: 10px;
}

.stats {
  margin: 0;
  padding: 5px;
}

.stats li {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 0;
  display: inline-block;
}

.stats span {
  display: inline-block;
  width: 30px;
}
