extends _layout

append config
  - page='guide'

mixin section(level, name, title)
  a(name=name)
  case level
    when 1: h1 #{title}
    when 2: h2 #{title}
    when 3: h3 #{title}
  if block
    .Section-content
      block

block nav
  ul
    li: a(href='#hello') Hello, World
      ul
        li: a(href='#install') Install the library
        li: a(href='#simulation') Create a simulation
        li: a(href='#particle') Add a particle
        li: a(href='#render') Render the scene
        li: a(href='#demo_hello') Demo: Hello, World

    li: a(href='#basics') Movement
      ul
        li: a(href='#forces') Forces
        li: a(href='#constraints') Constraints
        li: a(href='#demo_basics') Demo: Rope

    li: a(href='#behavior') Behavior
      ul
        li: a(href='#bodies') Bodies
        li: a(href='#extending_body') Extending Body
        li: a(href='#interaction') Interaction
        li: a(href='#events') Events
        li: a(href='#demo_behavior') Demo: Interactive Rope

block content

  +section(2, 'hello', 'Hello, World')
  +section(3, 'install', 'Install the library')
    include guide/install
  +section(3, 'simulation', 'Create a simulation')
    include guide/simulation
  +section(3, 'particle', 'Add a particle')
    include guide/particle
  +section(3, 'render', 'Render the scene')
    include guide/render
  +section(3, 'demo_hello', 'Demo: Hello, World')
    include guide/demo_hello

  +section(2, 'basics', 'Movement')
  +section(3, 'forces', 'Forces')
    include guide/forces
  +section(3, 'constraints', 'Constraints')
    include guide/constraints
  +section(3, 'demo_basics', 'Demo: Rope')
    include guide/demo_basics

  +section(2, 'behavior', 'Behavior')
  +section(3, 'bodies', 'Bodies')
    include guide/bodies
  +section(3, 'extending_body', 'Extending Body')
    include guide/extending_body
  +section(3, 'interaction', 'Interaction')
  +section(3, 'events', 'Events')
  +section(3, 'demo_behavior', 'Demo: Interactive Rope')
