extends _layout

mixin section(level, name, title)
  - if (level === 1)
    h1 #{title}
  - else if (level === 2)
    h2 #{title}
  - else if (level === 3)
    h3 #{title}
    a(name=name)

block nav
  h1 Guide
  ul
    li: a(href='#basics') The basics
    ul
      li: a(href='#install') Install the library
      li: a(href='#simulation') Create a simulation
      li: a(href='#particles') Add particles
      li: a(href='#render') Render the scene
      li: a(href='#demo_basics') Demo

block content
  +section(1, 'top', 'Guide')

  +section(2, 'basics', 'The basics')
  include guide/basics

  +section(3, 'install', 'Install the library')
  include guide/install

  +section(3, 'simulation', 'Create a simulation')
  include guide/simulation

  +section(3, 'particles', 'Add particles')
  include guide/particles

  +section(3, 'render', 'Render the scene')

  +section(3, 'demo_basics', 'Demo')

