doctype html
html
  head
    title Newton - Playful physics
    link(href='http://fonts.googleapis.com/css?family=Poiret+One', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:300', rel='stylesheet', type='text/css')
    link(rel='stylesheet' type='text/css' href='docs/styles/landing.css')
  body.Landing
    main.Hero
      h1.Hero-logo Newton
      h2.Hero-subtitle Powerful 2D physics with a simple API for browsers and node.js.
      a.Button(href='http://hunterloftis.github.io/newton/current/newton.min.js') Download (0.2.7)
      a.Button(href='http://hunterloftis.github.io/newton/docs/guide.html') Documentation
    a(href='https://github.com/hunterloftis/newton')
      img.Fork(src='docs/styles/images/fork-me-right-graphite@2x.png', alt='Fork me on GitHub')
